body {
    margin: 0;
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    background: var(--amber-a10);
    color: var(--amber-a12);
}

header>div {
    height: 100%;
}

header svg {
    color: var(--amber-a12);
}

main {
    background: var(--amber-a2);
}